@model List<FairyPhone.Models.Cart>

@{
    decimal totalPrice = 0;
    decimal totalDiscountPrice = 0;

    foreach (var cart in Model)
    {
        if (cart.Smartphone != null)
        {
            decimal itemPrice = cart.Smartphone.Price * cart.Quantity;
            decimal itemDiscountPrice = itemPrice * (1 - cart.Smartphone.Discount / 100);

            totalPrice += itemPrice;
            totalDiscountPrice += itemDiscountPrice;
        }
    }
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Cart</span>
            </nav>
        </div>
    </div>
</div>


<!-- Cart Start -->
<div id="cart" class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var cart in Model)
                    {
                        <partial name="Component/_CartItem" model="@cart" />
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$@Math.Round(totalPrice, 3)</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h6>You saved from discount</h6>
                        <h6>$@Math.Round((totalPrice - totalDiscountPrice), 3)</h6>
                    </div>
                    @* <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div> *@
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$@Math.Round(totalDiscountPrice, 3)</h5>
                    </div>
                    <form method="post" action="/Home/CreateCheckoutSession">
                       <button type="submit" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cart End -->
@section Scripts {
<script src="~/js/Home/cart.js"></script>
}